<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="../styles/contact.css" />
    <link rel="stylesheet" href="../styles/all.min.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="nav-container">
      <div class="nav-container__inner">
        <a class="home-link" href="/">DailyTiling</a>
        <ul class="top-nav">
          <li><a href="/">Home</a></li>
          <li><a href="./Projects.html">Projects</a></li>
          <li><a href="./services.html">Services</a></li>
          <li class="top-nav__featured">
            <a href="./contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <h1 class="contact__title">Contact Us</h1>
    <div class="contact__row">
      <div class="contact__details">
        <h1 class="form__title">Contact Details</h1>
        <ul>
          <li>
            Whatsapp: +27614866744
          </li>
        </ul>
        <ul>
          <li>Email: <a href="#">htomorrow12@gmail.com</a></li>
        </ul>
      </div>
      <div class="contact__form">
        <h1 class="form__title">Send us an Email</h1>
        <div class="name__email">
          <input type="text" name="" id="Name" placeholder="Your name" />
          <input type="email" name="" id="Email" placeholder="Your e-mail" />
        </div>

        <input
          type="number"
          name=""
          id="Phone__number"
          placeholder="Your number"
        />
        <textarea
          name=""
          id="contact__message"
          cols="50"
          rows="20"
          placeholder="Message"
        ></textarea>
        <button type="submit" class="contact__button">Send a Message</button>
      </div>
    </div>

    <script src="../js/all.min.js"></script>
    <script src="../js/jquery-3.4.1.min.js"></script>
  </body>
</html>
